header {
  .container {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
    .local {
      display: flex;
      p {
        margin-left: 0.8rem;
        margin-top: 4px;
      }
    }
  }
}
.home-page {
  .container {
    .pesquisar {
      width: 339px;
      height: 25px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      align-items: center;
      margin-bottom: 42px;
      position: relative;

      &:after {
        content: "";
        width: 340px;
        height: 3px;
        background-color: #f6d076;
        position: absolute;
        bottom: -25px;
        left: 1px;
      }
    }

    .pesq {
      color: black;
      margin-left: 11px;
    }
    .uoou {
      margin-right: 11px;
    }
    .slide {
      margin: 0 auto;
      padding-bottom: 81px;
      position: relative;
    }
    .banner-1 {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 28px;
      }
      .imagem-c {
        &:before {
          content: "";
          width: 340px;
          height: 3px;
          background-color: #f6d076;
          position: absolute;
          bottom: 319px;
          left: 15px;
        }
      }
      .titulo {
        padding-left: 30px;
        h1 {
          width: 125px;
          height: 29px;
          background-color: rgba(75, 73, 73, 0.32);
          border-radius: 5px;
          text-align: center;
          padding-top: 7px;
          font-size: 14px;
          margin-bottom: 11px;
        }
        h2 {
          font-size: 12px;
          margin-bottom: 4px;
          text-align: center;
        }
        h3 {
          font-size: 12px;
          margin-bottom: 4px;
          text-align: center;
        }
        p {
          font-size: 12px;
          text-align: center;
        }
      }
    }
  }
}
footer{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #2D2C2C;
    
    p{
      font-size: 8px;
    }
    .conta{
      .pessoa{
        padding-left: 15px;
      }
    }
  }
}